md-toolbar {
  md-tabs {
    md-tabs-wrapper {
      background: white;

      md-tabs-canvas {
        height: 72px;

        md-pagination-wrapper {
          height: 72px;
        }

        .md-tab {
          line-height: 48px;

          a {
            color: #6b6b6b;
            text-decoration: none;
            font-weight: 700;
          }

          &.md-active {
            a {
                color: #404040;
            }
          }

          &.md-disabled {
            display: none;
          }
        }
      }
    }
  }
}

md-content {
  padding: 10px 30px;
}

footer {
  color: #a7a7a7;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
}
